pydantic~=2.7.1
Flask~=3.0.3
python-dotenv~=1.0.1
beautifulsoup4~=4.12.3
soupsieve~=2.5
cryptography~=42.0.7
jwt~=1.3.1
PyJWT~=2.8.0
typing_extensions~=4.11.0
pip~=24.0
attrs~=23.2.0
argparse~=1.4.0
tornado~=6.4
Jinja2~=3.1.4
filelock~=3.14.0
pyzmq~=26.0.3
colorama~=0.4.6
gevent~=24.2.1
setuptools~=69.5.1
parso~=0.8.4
jedi~=0.19.1
future~=1.0.0
pytz~=2024.1
requests~=2.31.0
MarkupSafe~=2.1.5
Werkzeug~=3.0.3
click~=8.1.7
blinker~=1.8.2
itsdangerous~=2.2.0
numpy~=1.26.4
cffi~=1.16.0
yarg~=0.1.9
six~=1.16.0
webencodings~=0.5.1
bleach~=6.1.0
tinycss2~=1.3.0
ipython~=8.12.3
greenlet~=3.0.3
pandas~=2.2.2
SQLAlchemy~=2.0.30
python-dateutil~=2.9.0.post0
certifi~=2024.2.2
Pygments~=2.18.0
traitlets~=5.14.3
decorator~=5.1.1
packaging~=24.0
backcall~=0.2.0
pickleshare~=0.7.5
jupyter_client~=8.6.1
wcwidth~=0.2.13
docopt~=0.6.2
urllib3~=2.2.1
nbformat~=5.10.4
jupyter_core~=5.7.2
nbclient~=0.10.0
fastjsonschema~=2.19.1
jsonschema~=4.22.0
pydantic_core~=2.18.2
idna~=3.7
asttokens~=2.4.1
executing~=2.0.1
nbconvert~=7.16.4
pandocfilters~=1.5.1
defusedxml~=0.7.1
mistune~=3.0.2
jupyterlab_pygments~=0.3.0
pycparser~=2.22
tldextract~=5.1.2
referencing~=0.35.1
platformdirs~=4.2.2
torch~=2.1.2
sbi~=0.22.0
matplotlib~=3.8.2
SimPEG~=0.20.0.post2
discretize~=0.10.0
openpyxl~=3.1.0
pygimli~=1.5.0